body {
  
    
    display: flex ;
   
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background:url(bbc.jpg);
    overflow-x: hidden; 
    
}

.upper{
    
    display: flex;
    justify-content: space-evenly;
    align-items: space-evenly;
    margin-top: 10%;
    margin-bottom: 10px;
    height: 70vh;
    /*

    width: 100vw;
    height: 100vh;
    */


}

.imagee{
   height: 70%;
   width: 50%;
   object-fit: contain;
   
}

.card{
    display: grid;
    grid-template-columns: 270px;
    grid-template-rows:  200px 190px 50px;
    grid-template-areas:  "image" "text" "stats";

    font-family: roboto;
    border-radius: 20px;
    background: #ffffff;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 9);
    text-align: center;
    
    position: relative;

    left: 310px;


    margin: 30px;
    border: 30px;


    
    
}
/*
.card-image{
    /*
    grid-area: image;
    background: url("c1.jpg");
    background-size: cover;
    border-top-left-radius:15px ;
    border-top-right-radius:15px ;
    
    display: block;
    width: 50%;
    height: 20rem;
    object-fit: cover;
    
    
}
*/
.card-text {
    grid-area: text;
    margin: 25px;
    border-radius: 20px;
  
}

.details {
   
    display: flex;
    flex-direction: column;
    width: 50%;

    color: ivory;
  
    
}
.details p{
    padding: 20px;
}

.imaage{

    width: 100%;
    height: 100%;
    object-fit: cover;
    
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    
}

.many{
    display: flex;
    justify-content:space-evenly;
    align-items:space-evenly;
   width: 100vw;
    
    overflow-x: hidden;

    position: relative;
    
    
    
    


}

.left{
    background: white;
    color: black;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    left: 0%;
    z-index: 5;
    text-align: center;
    top: 37%;
    bottom: 50%;
    z-index: 5;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 9);
}
.right{

    background: white;
    color: black;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    right: 0%;
    z-index: 5;
    text-align: center;
    top: 37%;
    bottom: 50%;
    z-index: 5;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 9);

}

.butts{
    position: absolute;
    top: 80vh;

}




